<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>


<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  <% end %>
</ul>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
<br>

<%= link_to 'Back to all restaurants', restaurants_path %>
